<launch>
  <arg name="teleop"  default="false"/>

  <!-- rosserial #1 + arduino_uno -->
  <include file="$(find pet_mk_iv_arduino)/launch/arduino_uno.launch"/>

  <!-- rosserial #2 + arduino_nano -->
 <include file="$(find pet_mk_iv_arduino)/launch/arduino_nano.launch"/>

  <!-- Engine controller -->
  <include file="$(find pet_mk_iv_path_planner)/launch/controller.launch"/>

  <!-- LCD display driver/controller -->
  <include file="$(find ros_lcd_driver)/launch/ros_lcd_driver.launch"/>

  <!-- Teleop -->
  <group if="$(arg teleop)">
    <remap from="key_vel" to="vel_cmd"/>
    <include file="$(find pet_mk_iv_path_planner)/launch/teleop.launch"/>
  </group>
</launch>
