<launch>
  <arg name="port"    default="/dev/ArduinoUno0"/>
  <arg name="baud"    default="57600"/>

  <node pkg="rosserial_python" type="serial_node.py" name="arduino_uno" output="screen">
    <param name="port" value="$(arg port)"/>
    <param name="baud" value="$(arg baud)"/>
  </node>

  <node pkg="pet_mk_iv_arduino" type="ultrasound_adapter_node" name="ultrasound_adapter" output="screen"/>
</launch>