<launch>

  <node pkg="pet_mk_iv_localisation" type="imu_mpu6050.py" name="mpu6050" output="screen">
    <param name="imu_frame" value="base_link"/>
  </node>

  <node pkg="pet_mk_iv_localisation" type="inertial_integrator.py" name="inertial_integrator" output="screen">
    <param name="imu_frame" value="base_link"/>
  </node>

</launch>