<?xml version="1.0" encoding="utf-8"?>
<model version="1.0">
  <name>sign_follow_right</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Daniel Duberg</name>
    <email>dduberg@kth.se</email>
  </author>
    <description>
    Swdish road sign.
    Fixing '' issue for Gazebo 9.x by stefan.kull@gmail.com
  <description/>
</model>
