<?xml version='1.0' encoding='utf-8'?>
<model version="1.0">
  <name>Pet Play Yard-Floor01(2x2m)</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
      <name>Stefan Kull</name>
      <email>stefan.kull@gmail.com</email>
  </author>
  <description>
      Pet Play Yard 01 - Floorplan (2m x 2m)
  </description>
</model>
